
<div id="section1">

<mat-toolbar id="header">
    <a [routerLink]="['']">
      <img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png">
    </a>
    <div id="version">
      <span >{{version}}</span>
    </div>
  </mat-toolbar>

  <div id="ov_info">
    <img id="ov_img" alt="OpenVidu Logo" src="assets/images/openvidu_vert_white_bg_trans_cropped.png">
    <p>Videoconference rooms in one click</p>
  </div>

  <div id="card_content">
      <mat-card id="room_card">
          <h3>Create an OpenVidu videoconference</h3>
          <form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
            <mat-form-field appearance="outline">
              <mat-label>Insert your room name</mat-label>
              <input matInput formControlName="roomName" placeholder="Openvidu_call_room" autocomplete="off">
            </mat-form-field>
            <div>
              <button mat-stroked-button color="secondary" type="submit">Create Room</button>
            </div>
          </form>
        </mat-card>
  </div>
</div>
