<div id="section1">

  <mat-toolbar id="header">
    <a [routerLink]="['']">
      <img id="header_img" alt="OpenVidu Logo" src="assets/images/openvidu_logo.png">
    </a>
    <div id="version">
      <span >Custom {{version}}</span>
    </div>
  </mat-toolbar>

  <div id="card_content" *ngIf="showForm">
    <mat-card id="room_card">
      <h3>Return to {{ roomName }} videoconference</h3>
      <form (ngSubmit)="restoreVideoCall()">
        <div>
          <button mat-stroked-button color="secondary" type="submit">Restart</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
